//Musique d\'Hiver Pour L\'Ete
extends ../../jade/layouts/release

prepend page
  - release= 'Musique d\'Hiver Pour L\'Ete'
  - id = '04'
  - description='Public Lover (Bruno Pronsato & Ninca Leece) locked themselves away in their quiet Prenzlauer Berg studio in January. We feel they were overwhelmingly successful'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Public Lover (Bruno Pronsato & Ninca Leece) locked themselves away in their quiet Prenzlauer Berg studio in January. 
  p.
    Their mission: creating music for summer. We feel they were overwhelmingly successful. Musique D’Hiver Pour L’Été is all about warm instrumentation with a special emphasis on an intentional lo-fi production. you might hear the recording process - a transparency in process to bring you personally into their studio. it might even be a statement in an age of digitalism and overproduction. It rides the line between romantic techno and sultry disco. It’s a record to grind with your lover to in the hottest clubs of summer, it’s also one to put on while laying half naked in the sun, or djing at your mother’s bbq. Keeping in line with Ninca and Bruno’s solo work, there is also the elements of the so-called, ‘accidentally avant-garde,’ one of the cornerstones of thesongsays. More importantly, however, there is the underlying theme of romanticism and elegance. Ninca’s balmy vocals and jazzy keyboard hooks are the backdrop for a night on the town while Bruno’s tight rhythm section is the reason to go home and wrap up with your lover. As a digital bonus, our man Anthony Collins turns up the heat on the dancefloor side of things with an ambitious and strikingly emotional remix of We Are. Taking the bare bones of the track and adding his own musical genius to the mix.
