extends ../../jade/layouts/release

prepend page
  - release= 'Lovers Do'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Even as techno moves in and out of fashion, I don't think Bruno Pronsato has anything to worry about. The drummer-turned-producer's intricate textural maps of clicking beats and chiming chords defies trends. With his laborious constructions venturing through unpredictable tangents or breaking out into jazzy sections, there's a feeling of constant movement and shaky energy that means his music never quite stands still. It was a formula that he perfected with his single-track EP <span class="italic">The Make Up The Break Up</span>, a stunning lesson in subtle buildup and release, forty minutes of gentle lapping and ebbing that nevertheless worked up enough energy to break out into occasional streaks of blinding sunlight.
  div.button.read-more Read More
  div.text-more
    p. 
      This practiced and confident manner extends itself to Pronsato's third album, sounding assured where his darker previous album <span class="italic">Why Can't We Be Like Us</span> often sounded like it was mired in its own emotional frustration. With evocative track titles and moving melodies, <span class="italic">Lovers Do</span> doesn't seem any less melodramatic, yet it's more coherent, an easier album-length listen. Pronsato's sound isn't as earth-shattering this time around, but it's not about shock and awe: <span class="italic">Lovers Do</span> has a way of slowly enveloping a space until everything else just feels inconsequential. 
    p.
      The record begins in typical fashion with "Lovers Don't," a rolling boil of snares and vibes that melt and splinter on impact, the ever-present drama underpinned by orchestral flourishes that loom underneath the choppy sea. From there on out, though, it's not quite business as usual: pre-album single "Anybody But You" centers around a surprisingly straightforward mallet riff, subtly shifting its atmosphere but carefully keeping its centre in those dulcet tones. Its B-side "Feel Right" also makes an appearance on the album, a late-album pick-me-up and straight club jam unlike anything else Steven Ford has made under the Pronsato name in years, bristling with a tech house insistence that feels almost defensively simplistic. 
    p.
      Ford also sometimes sticks to his usual tricks. It's hard not to be absolutely thrilled with the result, though: "Trio-Out" seems disappointingly standard until it's completely saturated by innumerable drum fills, rich, realistic sounds that dot the soundstage like twinkling stars. Ford's best, however, comes when he's out of his comfort zone. "An Indication of the Cause" juggles and fumbles with all sorts of springy and squeaky sounds, like some moss-grown version of Oversteps-era Autechre. It's the only point on the album where Ford sounds like he's just making it up as he goes along, but the IDM-esque abstraction fits him to a tee, casting his sometimes difficult music in a new light that's much easier to understand.
    p.
      <span class="italic">Lovers Do</span> is the kind of compulsive and meticulous refinement you'd expect from someone who makes music like Ford does. Perhaps with the exception of his pristine and beloved drums, every sound—no matter how tiny—is endlessly tweaked and picked apart. But that's what he's always done: Sprawling epics from pin drops and brushed snares, an endless search for something constantly out of reach. He'll probably never get there, but the closer he gets, the luckier we are to witness him searching. <span class="italic">Lovers Do</span> is the closest yet.
    p.
      Words by Andrew Ryce for Resident Advisor
