---
title: "thesongsays | Releases"
meta:
  description: Berlin based label ran and operated by Bruno Pronsato &amp; Ninca Leece focuses its attention primarily on its owner's productions. The releases will be more on the conceptional and home-listeng side of things with a dash of dance-floor to keep things interesting. Although not anchoring itself to Bruno &amp; Ninca alone, collaborations with their immediate family of producers are up and coming. The future is bright.
  img: http://www.thesongsays.com/imgs/logo.gif
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include meta-tags.html %}
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" media="screen" />
</head>
<body id="releases_page">
{% include promo.html %}
{% include songsays-logo.html %}
{% include nav.html %}
<!-- Container -->

<div class="row" >
	
	<!-- Left Column -->
	
	<div class="column grid_9">
		<div class="row">
			<h1 class="column grid_8 font_large">Releases</h1>
			<hr class="column grid_8 section_hr" />
		</div>
		<div class="row artist">
<ul>
<li class="main_list_module release_list" style="">
			<div style="position:relative;">
				<a href="/releases/a-broken-shape-of-you.html" style="text-decoration:none">
					<img width="193" height="193" src="{{site.baseurl}}/imgs/release-page-public-lover-broken-shape-of-you.jpg" />
					<h2 class="font_tiny" style="margin-top:10px;">Public Lover</h2>
					<p class="font_small">A Broken Shape Of You</p>
				</a>
			</div
		</li>
<li class="main_list_module release_list" style="margin-left:20px;">
			<div style="position:relative;">
				<a href="/releases/musique-dhiver-pour-lete.html" style="text-decoration:none">
					<img width="193" height="193" src="{{site.baseurl}}/imgs/release-page-public-lover.jpg" />
					<h2 class="font_tiny" style="margin-top:10px;">Public Lover</h2>
					<p class="font_small">Musique d’Hiver Pour L’Ete</p>
				</a>
			</div
		</li>
<li class="main_list_module release_list" style="margin-left:20px;">
			<div style="position:relative;">
				<a href="/releases/feed-me-rainbows.html" style="text-decoration:none">
					<img width="193" height="193" src="{{site.baseurl}}/imgs/release-page-ninca-leece.jpg" />
					<h2 class="font_tiny" style="margin-top:10px;">Ninca Leece</h2>
					<p class="font_small">Feed Me Rainbows</p>
				</a>
			</div
		</li>
<li class="main_list_module release_list" style="">
			<div style="position:relative;">
				<a href="/releases/what-ive-lost.html" style="text-decoration:none">
					<img width="193" height="193" src="{{site.baseurl}}/imgs/release-page-benoit-sergio.jpg" />
					<h2 class="font_tiny" style="margin-top:10px;">Benoit &amp; Sergio</h2>
					<p class="font_small">What I’ve Lost</p>
				</a>
			</div
		</li>
<li class="main_list_module release_list" style="margin-left:20px;">
			<div style="position:relative;">
				<a href="/releases/the-make-up-the-break-up.html" style="text-decoration:none">
					<img width="193" height="193" src="{{site.baseurl}}/imgs/release-page-makeup-breakup.jpg" />
					<h2 class="font_tiny" style="margin-top:10px;">Bruno Pronsato</h2>
					<p class="font_small">The Make Up The Break Up</p>
				</a>
			</div
		</li>
</ul>
</div>	</div>
	
	<!-- Right Column -->
	<div class="column grid_3">
		<div class="row">
			<h1 class="column grid_4 font_large" style="overflow:visible;">Sign Up</h1>
			<hr class="column grid_4 section_hr" />
		</div>
		<div class="row" id="email_form">
			<form action="http://thesongsays.createsend.com/t/r/s/ukiydd/" method="post" id="sub_form" name="sub_form">
				<input type="text" name="cm-ukiydd-ukiydd" id="ukiydd-ukiydd" style="width:150px;" value="join our email list" />
				<input id="email_button" type="submit" value="">
			</form>
		</div>
		<div id="email_confirmation" class="font_tiny feedback"> 
			<p>Thanks for joining!<br />Look for a confirmation email from us soon.</p> 
		</div> 
		<div id="email_malformed" class="font_tiny red feedback"> 
			<p>Please check that you have entered a valid email address.</p> 
		</div>
		<div id="email_sub_error" class="font_tiny red feedback">
			<p>OOOps! Something went wrong!<br />Please try again.</p>
		</div>
		<div class="row">
			<h1 class="column grid_4 font_large">Artists</h1>
			<hr class="column grid_4 section_hr" />
		</div>
		<!-- featured releases -->
		<div class="row release_small">
		<ul>
	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/benoit-sergio.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/artist-small-benoit-sergio.jpg"/>
			<p>Benoit &amp; Sergio</p>
		</a>

	</li>
<hr class="dotted_hr grid_3" style="margin-bottom:15px"/>	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/bruno-pronsato.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/artist-small-bruno.jpg"/>
			<p>Bruno Pronsato</p>
		</a>

	</li>
<hr class="dotted_hr grid_3" style="margin-bottom:15px"/>	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/half-hawaii.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/hh_small.jpg"/>
			<p>Half Hawaii</p>
		</a>

	</li>
<hr class="dotted_hr grid_3" style="margin-bottom:15px"/>	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/inside-out.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/artist-small-iso.jpg"/>
			<p>Insideout</p>
		</a>

	</li>
<hr class="dotted_hr grid_3" style="margin-bottom:15px"/>	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/ninca-leece.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/artist-small-ninca.jpg"/>
			<p>Ninca Leece</p>
		</a>

	</li>
<hr class="dotted_hr grid_3" style="margin-bottom:15px"/>	<li class="column grid_3" style="margin-bottom:5px;">
		<a href="/artists/public-lover.html" style="text-decoration:none;">
			<img width="60" height="60" src="{{site.baseurl}}/imgs/artist-small-public-lover.jpg"/>
			<p>Public Lover</p>
		</a>

	</li>
</ul>		</div>
		<!-- featured tracks -->
			</div>
</div>
{% include scripts.html %}
</body>
</html>
