header
  a(href="/", title="home", class="logo")
    img(src="/imgs/logo.png", alt="")
  nav
    ul
      li #[a(href="/artists/", title="Artists") Artists]
      li #[a(href="/releases/", title="Releases") Releases]
      li #[a(href="/romance-club/", title="Romance Club") Romance Club]
      li #[a(href="/about/", title="About") About]
      li #[a(href="/blog/", title="Blog") Blog]
