header
  a(href="/", title="home", class="logo")
    img(src="/imgs/logo.png", alt="")
  nav
    ul
      li #[a(href="/artists/", title="Artists") Artists]
      li #[a(href="/releases/", title="Releases") Releases]
      li #[a(href="/press/", title="Press") Press]
      li #[a(href="/info/", title="About") Info]
      li #[a(href="/blog/", title="Blog") Blog]
