extends ../jade/layouts/layout
prepend page
  - pageTitle= 'thesongsays | Info'
prepend footer
  - sticky= 'sticky'
block contents
  div.page-header-container
    h1.page-header Info
  div.grid
    div.grid-cell-12
      p A Berlin-based label, established in 2009, revived in 2016. We like music that is intelligent, tender, and strange.
