extends ../../jade/layouts/release

prepend page
  - release= 'Feed Me Rainbows'
  - id = '03'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    In a music scene where party is king, love songs are often few and far between. Ninca Leece's Feed Me Rainbows, the third issue on Bruno Pronsato's thesongsays imprint, offers nothing less than a love song, and story, in two parts. Appropriately, Leece's original is accompanied by a remix from Public Lover, a new collaboration with her beau Bruno.
  p.
    Despite the poetic lyrics, the release abandons the pop sensibility of Leece's recent album, There Is No One Else When I Lay Down and Dream, in favor of a far dreamier presentation. Bright, breathy vocals about smiles and childhood still play a central role, but her seductively whispered "feed me rainbows" is presented as a part of something greater here. The opening moments call to mind the emotive reverb of My Bloody Valentine's Loveless, and the track accelerates with the warble of something akin to Snoopy's jaw harp, a chirp that leads you by the hand into the belly of the track's psychedelia. A beautiful bassline plays in the background while an echoing Rhodes-y loop spins round and round. Unkempt claps join snappy snares leading to the exit, where gorgeous chords emerge like an oncoming dawn.
  div.button.read-more Read More
  div.text-more
    p.
      The Public Lover rendition is hazier and more mischievous than its feminine counterpoint. Here we find the discordant lilt familiar to fans of Pronsato's other projects—Leece's soft French accent is distorted, as if the memory represented here was recorded onto tape that had begun to erode. Sultry shaker sounds roll into ambient moments of doubt, and a careful listen can make your flesh begin to bristle. But the uncomfortable tension orchestrated in these bars is broken by a welcome belt from the pair—"the world is our concierge"—as the song unfolds again into measured bliss.
    p.
      The only confusing moment comes with the onset of a foreground conversation from the cutting room; though it's intriguing to hear a bit about the recording methods behind this enchanting aural story, here the talking interrupts the trance—only for a moment. Before long, the playful Rhodes have returned to drive this pony home. The end result is a perfect glow to accompany the final melting away of winter.
    p.
      Words by Sarah Joy Murray for Resident Advisor
