extends ../../jade/layouts/release

prepend page
  - release= 'The State of Things'
  - id = '08'
  - description='VISUALS will debut on thesongsays with his beautifully well-rounded novella of an EP, The State Of Things.'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    VISUALS will debut on thesongsays with his beautifully well-rounded novella of an EP, The State Of Things.
  p.
    The label has long focused on the romantic and conceptual currents of dance music and VISUALS joins the tight-knit roster with three stunning songs that perfectly fit the thesongsays ethos while bringing together the diverse elements of his musical background. The Brooklyn-based singer, songwriter and multi-instrumentalist - whose work debuted on Nicolas Jaar's Other People imprint - excels not only through his distinctive vocal style and melodic richness, but also through the acute subtlety of his lyrical content.

  div.button.read-more Read More
  div.text-more
    p.
      The record's A-side is a case in point: pure tropical melancholia that finds VISUALS lyrically sifting through the modern contradictions of everyday life over lambent pads and off-kilter percussion: "I couldn't tell hell from paradise / I'm so caught up in the state of things." While the vocals recall the realm of indie, the quirky textures and post-production (courtesy of DARKSIDE member Dave Harrington) gesture toward the electronic.
    p.
      On the flip, the buoyant bass line of 'Days Of Our Youth' anticipates an infectious chorus that feels perfectly anthemic for spring and summer: "Days of our youth on fire / Burning in your eyes." It's an expertly crafted and arranged piece of music that lends itself to adventurous DJs wanting to give the room something counterintuitive and unusual. Completing the release is 'No Handle'—pensive, deep, and hypnotic for the noir corners of early morning dance floors.
