extends ../../jade/layouts/release

prepend page
  - release= 'A Broken Shape of You'
  - id= '07'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Public Lover's debut album, A Broken Shape Of You, shows Bruno Pronsato and Ninca Leece doing what they do best: electronic avant-pop with a playful touch of romance. The album comes third in their short catalogue, after last fall's Musique D'Hiver Pour L' Été, released on Pronsato's label, thesongsays, and Naked Figures, a more upbeat but equally elegant effort for Telegraph. Both records revealed Public Lover to be something rather fresh: an electronic duo that has both production savvy and lyrical finesse. With A Broken Shape Of You, this budding dynamic reaches maturity, creating what is surely one of the best albums of the year. 
  div.button.read-more Read More
  div.text-more
    p.
      There are two sides to Public Lover––the indie group and the production duo––and the tension between these two gives the album its momentum. At times it's driven by Ninca Leece's singing. The title track sets the scene with a string of potent images: "cold sunshine," "frosted window pane," "shadows of you and I." On "Under Your Tongue," she keeps us guessing with ambiguous metaphors: "It's something, to keep under your tongue, it's something, between your teeth." "I Try," one of the duo's best songs and the only previously released one here, strikes the album's most melancholy note, with those simple two words speaking volumes as they repeat. "Your Eyes Taste Like Mine" follows a similar blueprint: the oblique title phrase becomes more meaningful and more mysterious as the song floats on. 
    p.
      At other times the album's pop element subsides, letting its unique production take the fore. From the first note of the opening song––a distant, quivering minor chord––it's clear the album's aural palette is something truly inspired. Pronsato has always earned accolades for his impeccable sound design, but his key strengths are in texture and rhythm; Ninca Leece, a trained vocalist and indie artist at heart, fills in the gaps with her ear for warmth and melody. Dusty piano keys bounce off polished kick drums, surreal vocal lines float above imperfect hand claps, and room noise and vocal outtakes (two of Pronsato's trademarks) give the mix a sonorous dimension. Delivered in hues of pale winter light, the album has a wispy, almost weightless feel––something thanks in part to Steffen Betke, better known as Pole, the esteemed dub techno artist, who mastered the album.
    p.
      A Broken Shape of You is something many electronic albums are not: understated, elliptical, and most importantly, personal.
