extends ../jade/layouts/layout
prepend page
  - artistName= 'Artistszzz | thesongsays'
block contents
  a(href="/blog") Back to blog
  h1 #{post.getText('post.title')}
  p Author: #{author.getText('author.name')}
  !{post.getStructuredText('post.body').asHtml()}
