<div class="row">
	<div id="nav" class="column grid_12">
		<ul>
			<li><a href="/" id="home" class="nav_button unselected">Home</a></li>
			<li><a href="/releases" id="releases" class="nav_button unselected">Releases</a></li>
			<li><a href="/artists" id="artists" class="nav_button unselected">Artists</a></li>
			<li><a href="/shows" id="shows" class="nav_button unselected">Shows</a></li>
			<li><a href="/booking" id="booking" class="nav_button unselected">Booking</a></li>
			<!-- <li><a href="#" id="merchandise" class="nav_button unselected">Merchandise</a></li> -->
		</ul>
	</div>
</div>