block footer
  - if(!sticky) {
  -  sticky = ''
  - }
  footer(class="#{sticky}")
    div.footer-container
      div.form-container
        form#newsletter(action="http://thesongsays.createsend.com/t/r/s/ukiydd/", method="post")
          //- label Newsletter
          input(type="email", placeholder="Newsletter", name="cm-ukiydd-ukiydd", required)
          button(disabled) Join
        div.feedback.success.
          Thanks! Your email has been added to our list.
        div.feedback.error.
          Ooops! There was an error adding your email to our list. Check your email address and try again.
      div(class="social")
        //- a(href="#", class="icon twitter")
        a(href="https://www.facebook.com/thesongsays", class="icon fb")
        a(href="https://www.instagram.com/thesongsays_records/" class="icon instagram")
        a(href="https://soundcloud.com/thesongsays" class="icon soundcloud")
      div(class="sub-nav")
        p Copyright !{new Date().getFullYear()}
