footer
  form#newsletter
    label Newsletter
    input(type="text")
    button Join
  div(class="social")
    a(href="#", class="icon twitter")
    a(href="#", class="icon fb")
  div(class="sub-nav")
    p Copyright !{new Date().getFullYear()}
