block footer
  - if(!sticky) {
  -  sticky = ''
  - }
  footer(class="#{sticky}")
    div.footer-container
      form#newsletter(action="http://thesongsays.createsend.com/t/r/s/ukiydd/", method="post")
        //- label Newsletter
        input(type="email", placeholder="Newsletter", name="cm-ukiydd-ukiydd", required)
        button Join
      div(class="social")
        //- a(href="#", class="icon twitter")
        a(href="https://www.facebook.com/thesongsays", class="icon fb")
        a(href="https://www.instagram.com/thesongsays_records/" class="icon instagram")
        a(href="https://soundcloud.com/thesongsays" class="icon soundcloud")
      div(class="sub-nav")
        p Copyright !{new Date().getFullYear()}
