header
  a(href="/", title="home", class="logo")
    img(src="/imgs/logo.png", alt="")
  nav
    ul
      li #[a(href="/artists/", title="Artists" class="") Artists]
      li #[a(href="/releases/", title="Releases" class="!{releases}") Releases]
      li #[a(href="/press/", title="Press" class="!{press}") Press]
      li #[a(href="/info/", title="About" class="!{info}") Info]
      //- li #[a(href="/blog/", title="Blog" class="!{blog}") Blog]
