.artist-header
  margin-bottom: 20px
  padding-top: calc(14% - 35px)
  padding-bottom: calc(14% - 35px)
  background-size: cover
  h1
    font-weight: 100
    color: #fff
    margin: 0 auto
    font-size: 70px
    max-width: 930px
    font-family: 'Avenir Next W01 Thin'

.artist-container
  max-width: 960px
  margin: 0 auto 20px auto

.artist-description,
.artist-release-list
  -webkit-font-smoothing: antialiased

.artist-description
  padding-right: 20px
  border-right: 1px solid #fff
  color: #fff

.artist-release-list
  list-style-type: none
  margin-bottom: 20px
  padding: 0

  .artist-release
    .date, .catalog-id
      color: #9B9B9B
    .catalog-id
      font-size: 13px
  a
    display: block
  li
    margin-bottom: 20px
    img
      width: 60%
  .artist-release
    margin-bottom: 10px
