staticColor=rgba(255,255,255,0.3)
.artist-press
  color: #d5d5d5
  h2
    color: #fff
  ul
    list-style-type: none
    padding-left: 0
    margin-bottom: 20px
    li
      border-top: 1px solid rgba(255,255,255,0.3)

      &:last-child
        border-bottom: 1px solid rgba(255,255,255,0.3)
      a
        color: #d5d5d5
        display: block
        padding: 15px 0
        transition: color .2s
        &:hover
          color: #fff
          .view-button
            background-color: #fff
            color: #000

      .view-button
        padding: 1px 8px
        font-size: 12px
        float: right
        margin-right: 10px;
