.artist-header
  margin-bottom: 20px
  padding-top: calc(14% - 35px)
  padding-bottom: calc(14% - 35px)
  background-size: cover
  background-position: center
  h1
    font-weight: 100
    color: #fff
    margin: 0 auto
    font-size: 70px
    max-width: maxWidth
    font-family: 'Avenir Next W01 Thin', 'Helvetica Neue', Arial

.artist-container
  max-width: maxWidth
  margin: 0 auto 20px auto

.artist-description,
.artist-release-list
  // -webkit-font-smoothing: antialiased

.artist-description
  padding-right: 20px
  border-right: 1px solid #fff
  // color: #fff
.artist-releases-header
  display: none
  border-bottom: 1px solid #fff
  padding-bottom: 10px
.artist-release-list
  list-style-type: none
  margin-bottom: 20px
  padding: 0

  .artist-release
    .date, .catalog-id
      color: #9B9B9B
    .catalog-id
      font-size: 13px
  a
    display: block
  li
    margin-bottom: 20px
    img
      width: 60%
  .artist-release
    margin-bottom: 10px
.artist-social
  .button
    display: inline-block
    margin: 20px 20px 20px 0
    font-size: 12px
  .social
    float: none
    width: auto
    text-align: left
    .icon
      margin-right: 10px
      width: 18px
      height: 18px
      background-size: 18px
      &.soundcloud
        width: 30px
        background-size: 30px
    // soundcloud width 30, height: 18 bksize: 30px
@media screen and (max-width: breakPoint)
  .artist-description
    padding-right: 0
    border-right: none

  .artist-release-list
    li
      margin-bottom: 40px
      img
        width: 100%
  .artist-releases-header
    display: block
  .artist-social
    .book-button
      display: block
      text-align: center
