button, .button
  border: none
  color: #FFF
  padding: 7px 10px 7px 10px
  border-radius: 2px
  border-color: #fff
  border: 1px solid #fff
  background-color: transparent
  cursor: pointer
  transition: background-color .2s ease-out, color .2s ease-out
  &:hover
    background-color: #fff
    color: #000
