header
  padding: 20px
  overflow: hidden
  .logo
    float: left

    img
      display: block
      max-width: 200px
      width: 100%
      height: auto
nav
  float: right
  margin-top: 20px
  ul
    padding: 0
    margin: 0
    overflow: hidden
    li
      list-style-type: none
      margin-left: 20px
      padding: 0
      float: left
      border-top: 1px solid #fff
      padding: 0 2px
      transition: border-color .2s ease-out
      &:first-child
        margin-left: 0
      a
        color: #fff
        text-decoration: none
        line-height: 30px
    li:hover
      border-color: #E65789
