header
  padding: 20px
  overflow: hidden
  background-color: rgba(43,43,43, .9)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100

  .header-container
    max-width: maxWidth
    margin: 0 auto
  .container
    margin: 0 auto
  .logo
    float: left

    img
      display: block
      max-width: 200px
      width: 100%
      height: auto
  .mobile-nav-open-btn
    float: right
    margin-top: 12px
    display: none
nav
  float: right
  margin-top: 16px
  font-weight: 100
  ul
    padding: 0
    margin: 0
    overflow: hidden
    li
      list-style-type: none
      margin-left: 20px
      padding: 0
      float: left
      border-top: 1px solid #fff
      padding: 0 2px
      transition: border-color .2s ease-out
      &:first-child
        margin-left: 0
      a
        color: #fff
        text-decoration: none
        line-height: 30px
    li.active
      border-color: #E65789
    li:hover
      border-color: #E65789

@media screen and (max-width: breakPoint)
  header
    nav
      display: none
    .mobile-nav-open-btn
      display: block
