.overlay
  position: absolute;
  background-color: rgba(0,0,0,.5)
  bottom: 0
  padding: 20px
  color: #fff
  h2,p
    margin: 0
  h2
    font-size: 24px
  &.main
    width: 33.3%

  button
    margin-top: 20px
