.overlay
  position: absolute;
  // background-color: rgba(0,0,0,.5)
  background-color: transparent
  bottom: 0
  padding-bottom: 20px
  color: #fff
  h2,p
    margin: 0
  h2
    font-size: 24px

@media screen and (max-width: breakPoint)
  .overlay
    // padding: 10px
    h2
      font-size: 18px
    &.main
      width: 100%
