@font-face {
   font-family: "ff-clan-thin";
   src: url("/fonts/ff-clan-thin.woff") format('woff');
}
@font-face {
    font-family: "ff-clan-book";
    src: url("/fonts/ff-clan-book.woff") format('woff');
}
body, button
  font-size: 1em
  font-family: 'ff-clan-thin', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 200

header, h1, h2, h3
  font-family: "ff-clan-thin", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300

button
  font-size: .8em
  font-weight: 400
