font-stack = 'AvenirNextLTW01-Regular', 'Helvetica Neue', Arial, sans-serif
body, button
  font-size: 16px
  font-family: font-stack
  font-weight: 300
  letter-spacing: .05em

h1, h2, h3
  font-size: 20px
  font-weight: 100
button
  font-size: 12px
  font-weight: 400
p
  font-weight: 300

.italic
  font-style: italic
