@import '_type'
@import '_grid'
@import '_header'
@import '_footer'
@import '_news-item'
@import '_overlay'
@import '_button'

body
  margin: 0
  padding: 0
  background-color: #323232
  color: #fff

footer
  padding: 0 20px

.full-width
  width: 100%

img.full-width
  display: block
