breakPoint=767px
maxWidth=1500px

@import '_type'
@import '_grid'
@import '_header'
@import '_footer'
@import '_news-item'
@import '_overlay'
@import '_button'
@import '_social'
@import '_artists-list'
@import '_artist'
@import '_releases-list'
@import '_release'
@import '_player'
@import '_mobile-nav'

body
  margin: 0
  padding: 0
  background-color: #323232
  color: #D5D5D5
  font-size: 15px

.full-width
  width: 100%

.no-scroll
  overflow: hidden

.page-header-container
  max-width: maxWidth
  margin: 28px auto 40px
  padding: 0 20px
  .page-header
    padding-bottom: 10px
    border-bottom: 1px solid #E65789
    font-size: 30px
    font-family: 'Avenir Next W01 Thin', 'Helvetica Neue', Arial, sans-serif
.svg-defs
  display: none

img
  display: block

a
  color: #fff
  text-decoration: none

.page-content
  padding-top: 87px
  margin: auto
