doctype
block page
  html
    head
      link(rel="stylesheet", href="/css/styles.css")
      title= title
    body
      include ../includes/menu
      block contents
      - artistReleases= helpers.getReleasesByArtist(artist, releases)
      each release in artistReleases
        li #{release.title} <br/>#{release.date}<br />#{release.id}
      include ../includes/footer
