doctype
block page
  html
    head
      link(type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/a4d674cf-646c-4823-b418-b1d9ea771fab.css")
      link(href='/css/styles.css', rel='stylesheet', type='text/css')
      title= title
    body
      include ../includes/menu
      div.page-content
        block contents
        include ../includes/footer
        block scripts
          script.
            var body = document.querySelector('body')
            body.classList.add('transitionable');
        //- script(src='js/app.js')
