extends ../jade/layouts/layout
prepend page
  - title= 'Artists | thesongsays'
block contents
  -
    var meta = {
      title: 'Artists Page'
    }
  h1.page-header Artists
  ul.grid.artist-list
    each artist in artistData
      li.grid-cell-6
        a(href='/artists/#{artist.slug}', class='artist-list-container')
          img(src='/imgs/artists/#{artist.images.thumbnail}')
          div(class="artist-list-overlay")
            h2 #{artist.name}
            p Lorem Ipsum dolor sit amet, consectetur adipisicing elit
  
