extends ../../jade/layouts/release

prepend page
  - release= 'Anybody But You'
  - description= 'Slickly organic tech-house minimalism from Bruno Pronsato on his 2nd release for thesongsays records. It\'s hard to avoid the Villalobos comparisons - such is the weight of influence from the Chilean auteur - but that\'s also a great compliment.'
  - id = '05'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Slickly organic tech-house minimalism from Bruno Pronsato on his 2nd release for thesongsays records. It's hard to avoid the Villalobos comparisons - such is the weight of influence from the Chilean auteur - but that's also a great compliment. The deft 3D sound design of 'Anybody But You' is supremely accomplished and deeply engrossing for the ten minute duration, while the vocal treatments and dark grooving bass of 'Feel Right' are perfect for those cross-eyed 6am moments.
