---
title: Shows
scripts:
  - //cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js
  - /js/moment.min.js
  - /js/shows.js
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include meta-tags.html %}
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" media="screen" />
	<script>
		window.site = {};
		site.artists= 
		{
			{% for artist in site.artists %}
		  '{{artist.name}}': {
		    small: '{{artist.small}}'
		  }{% if forloop.last %}{% else %},{% endif %}
			{% endfor %}
		}
	</script>
</head>
<body id="shows_page">
{% include promo.html %}
{% include songsays-logo.html %}
{% include nav.html %}

<!-- 
<ul>
{% for artist in site.artists %}
  <li>
    <a href="https://github.com/{{ member.github }}">
      {{ artist.name }}
      {{ artist }}
    </a>
  </li>
{% endfor %}
Container -->
</ul>
<div class="row" >
	
	<!-- Left Column -->
	
	<div class="column grid_9">
		<div class="row">
			<div id="calendar" style="margin-left:10px;">Loading Shows&nbsp;&nbsp;<img src="{{site.baseurl}}/imgs/ajax-loader.gif"></div>
			<script type="text/javascript" charset="utf-8">
				calendarType = 'all';
				calendarValue = '';
			</script>
		</div>
	</div>
	
	<!-- Right Column -->
	<div class="column grid_3">
		<div class="row">
			<h1 class="column grid_3 font_large">Live Tracks</h1>
			<hr class="column grid_3 section_hr" />
		</div>
		<div class="row" id="track_container">
			<ul class="grid_4">
					<li>
					<div class="track_soundcloud_player">
						<object height="" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F5635832%3Fsecret_token%3Ds-vhNYL&amp;g=1&amp;"></param><param name="allowscriptaccess"
value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always"
height="" src="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F5635832%3Fsecret_token%3Ds-vhNYL&amp;g=1&amp;"
type="application/x-shockwave-flash" width="100%"> </embed> </object>					</div>
					<p class="track_live">Bruno Pronsato - RA Podcast 2010</p>				</li>
				<hr class="dotted_hr track_live">				<li>
					<div class="track_soundcloud_player">
						<object height="" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F5609149%3Fsecret_token%3Ds-HCUws&amp;g=1&amp;"></param><param name="allowscriptaccess"
value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always"
height="" src="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F5609149%3Fsecret_token%3Ds-HCUws&amp;g=1&amp;"
type="application/x-shockwave-flash" width="100%"> </embed> </object>					</div>
					<p class="track_live">Ninca Leece - Ninca Leece live (Magdeburg, DE)</p>				</li>
				<hr class="dotted_hr track_live">				<li>
					<div class="track_soundcloud_player">
						<object height="" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F134973%3Fsecret_token%3Ds-88842&amp;g=1&amp;"></param><param name="allowscriptaccess"
value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always"
height="" src="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F134973%3Fsecret_token%3Ds-88842&amp;g=1&amp;"
type="application/x-shockwave-flash" width="100%"> </embed> </object>					</div>
					<p class="track_live"> - Half Hawaii – Live at Watergate – 2008</p>				</li>
				<hr class="dotted_hr track_live">				<li>
					<div class="track_soundcloud_player">
						<object height="" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F2780970%3Fsecret_token%3Ds-dxQgK&amp;g=1&amp;"></param><param name="allowscriptaccess"
value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always"
height="" src="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F2780970%3Fsecret_token%3Ds-dxQgK&amp;g=1&amp;"
type="application/x-shockwave-flash" width="100%"> </embed> </object>					</div>
					<p class="track_live">Public Lover - Live At Panorama Bar</p>				</li>
				<hr class="dotted_hr track_live">				<li>
					<div class="track_soundcloud_player">
						<object height="" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F4252696%3Fsecret_token%3Ds-PYIsC&amp;g=1&amp;"></param><param name="allowscriptaccess"
value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always"
height="" src="http://player.soundcloud.com/player.swf?player_type=tiny&amp;show_comments=false&amp;auto_play=false&amp;color=848484&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F4252696%3Fsecret_token%3Ds-PYIsC&amp;g=1&amp;"
type="application/x-shockwave-flash" width="100%"> </embed> </object>					</div>
					<p class="track_live">Bruno Pronsato - Live at Watergate</p>				</li>
				</ul>		</div>
	</div>
</div>
{% include scripts.html %}
</body>
</html>