extends ../../jade/layouts/release

prepend page
  - release = 'What I\'ve Lost'
  - id = '02'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Sometime last year, when an Italian journalist asked him to describe his goal as a musician, Bruno Pronsato's answer came easily: "I just want to make romantic techno." This is clear enough in his own sultry minimal productions, but it's pretty much impossible to miss on Benoit & Sergio's What I've Lost, the second release on Pronsato's label, thesongsays. Hailing from Washington DC, Benoit & Sergio are an electronic-pop duo whose sound owes as much to Galaxie 500 or The Jesus & Mary Chain as to any house or techno pioneers. Their lyrics make a play of blending irony and sincerity, sometimes reaching a level of melodrama that's sure to turn off some listeners, which only makes this EP more interesting. Boldly unfashionable, What I've Lost is nonetheless a rich and charismatic record that effortlessly brings a pop sensibility to a techno framework.
  div.button.read-more Read More
  div.text-more
    p.
      The star track on What I've Lost is undoubtedly "Full Grown Man," a shoe-gaze inspired house tune that's both funny and weirdly moving. The production is top notch, with disparate bongos and brassy synths evoking sun-kissed hues of pink and orange. On the mic, Sergio sounds like a sleazy Paul Simon, tipsily carrying on about wine, cocaine and being "a man in this world." Though clearly a little tongue-in-cheek, the lyrics do well to portray one of technoland's most recognizable characters: the suave but aging male who continues to indulge, doing what he can to keep loneliness and adulthood at bay. It's a great pop song, and it manages to be a great track too; its tempo and structure make it easy to mix with, and its trippy, euphoric climax could easily electrify an early morning dance floor.
    p.
      The title track of What I've Lost is almost as impressive, but requires a slightly higher threshold for cheese. Rhythmically, it follows a solemn march reminiscent of Joy Division's "Atmosphere," but rather than vaguely brooding over existence's most haunting mysteries, Sergio casts himself in a romantic daydream, driving a young French girl around the streets of some unnamed city. It's all pretty over the top, but just like on "Full Grown Man," an expertly crafted electronic track hides behind the pop façade; weird vocodors, angelic keys and subtle drum patterns should tide you over while the vocals grow on you.
    p.
      On the flipside, Bruno Pronsato gives us a dark and druggy take on "What I've Lost." His remix revolves around a weirdly strobing thread of percussion, flanked by some of his signature touches, like brush sticks, uneven hand claps and splashes of nervous melody. Drained of irony by this sinister context, lines like "show you where I thought I had the answers once" sound strangely grim and unsettling. On the digital release, "What I've Lost" gets the after-hours treatment by Clink boss Grant Aaron, AKA Insideout. Echoes of euphoria compete with waves of anxiety, giving this one an uncanny come-down feel—perfect for party zombies dancing on auto-pilot. Both remixes round out the EP nicely, but it's their flamboyant counterparts that make this an exceptional record. Purists may scoff, but for the rest of us, What I've Lost is one of 2009's most pleasant surprises."
    p.
      Words by Will Lynch for Resident Advisor
