extends ../../jade/layouts/release

prepend page
  - release = 'The Make Up The Break Up'
  - id = '01'
  - description = 'Bruno Pronsato, whose album Why Can\'t We Be Like Us officially put the pluggo wannabes and laptop haircuts on notice with compositions more maddeningly intricate, complex and—crucially—intriguing than anyone else out there.'
  - pageTitle= release + ' | thesongsays'

block releaseContents
  p.
    Things were new: Everything seemed possible, nothing had been tried, worn out or ruined. (Or, as Shed would say, "Full of vigor.... not yet touched, used or exploited.") Then a few years pass, and formulas grow, build, recombine, mutate. Sounds pass in and out of scene and sound, phenomenon and fashion. After a while they end up ubiquitous, then reviled, then on the shelf or in the bin, forgotten or forgone, the better to be remembered and returned to when times are ripe once more. And now? Now it's 2009, and a minimal house groove and a few plugins doth not a track make. (Or, if it does, stick a fork in it, please. Please?)
  div.button.read-more Read More
  div.text-more
    p.
      One of the artists who appreciates the above state of affairs is Bruno Pronsato, whose album Why Can't We Be Like Us officially put the pluggo wannabes and laptop haircuts on notice with compositions more maddeningly intricate, complex and—crucially—intriguing than anyone else out there. except maybe Ricardo Villalobos. Maybe. Then, about one year ago, Villalobos' first Vasco EP dropped, orbing everyone with its otherwordly tones and atmospheres, the remix from Shackleton hinting at a way of continuing to explore while exiting what was, by then, a constricting template.
    p.
      And now? Now we have 2009's key statement in exploratory, extended-playing, intricated minimalism. At nearly 39 minutes long, and with a decay of more than ten minutes, "The Make Up The Break Up" is the most sublime and self-indulgent minimal track yet (ever?) written, ushering a whole set of ideas further into deep space and late senescence than they've ever been. The drum programming is as spectacular as you'd expect (i.e. light years ahead of almost everyone else); the length of the track is, oddly, not excessive; but the highlight is, without a doubt, the Nico sample, which comes roaring out of the thicket of drums with the lurching urgency of a palpitatingly approaching overdose threshold. In many ways, "The Make Up The Break Up" out-Vascoes Villalobos, while throwing down the gauntlet to RV (or anyone else, for that matter) willing and able to produce the next statement, to boldly go longer, further, deeper… go on, I dare ya.
    p.
      Or is this whole malarkey getting boring? My two cents: "The Make Up The Break Up" is both the culmination of the relationship and (for the same reason) high time for a new lover.
    p.
      Words by Peter Chambers for Resident Advisor
