extends ../../jade/layouts/artists
prepend meta
  - domain = 'http://thesongsays.com'
  - artist = 'VISUALS'
  - artistObj = helpers.getArtist(artist, artistData)[0]
  - image = '/imgs/artists/' + artistObj.images.large
  - url = domain + '/artists/' + artistObj.slug
  - description= 'VISUALS expresses the emotional energy of our hyper-accelerated times through subtle lyrical content and diverse moods, using genre like any other instrument. VISUALS\' remarkable vocals and singular production style and process mark him out as special talent.'
  - title = artist
prepend page
  - pageTitle= 'VISUALS | thesongsays'
  - artist= 'VISUALS'
block artistContents
  div.grid-cell-8
    div.artist-description
      p.
        VISUALS is Andrew Fox, a vocalist, multi-instrumentalist and producer from the Brooklyn scene.
      p.
        Fox began crafting the songs that would become VISUALS in 2012. A long-standing working relationship with Dave Harrington, Nicolas Jaar's partner in DARKSIDE, led to VISUALS joining Jaar's Other People crew and releasing an acclaimed, self-titled debut EP. 
      p.
        In October 2013, Fox swapped Brooklyn for Berlin and left behind a studio full of gear, finding inspiration in the limitation of a laptop and a microphone. Working with his voice as a primary instrument led to an intensified focus on melody, and opened moods previously inaccessible.
      p.
        While the dominance of house and techno in Berlin's club scene has undoubtedly influenced his music, Fox also consciously counters that, balancing his recent work with some unmistakably-American indie traits. He has honed a unique sound, combining aspects of traditional songwriting and structure within this electronic context. His gift for memorable hooks and compelling melody remains the focus, while newfound dancefloor arrangements and sounds provide endlessly fresh possibilities.
      p.
        Fox's position as a songwriter in the electronic world lends his work a freedom not usually enjoyed by those working within convention. He expresses the emotional energy of our hyper-accelerated times through subtle lyrical content and diverse moods, using genre like any other instrument. VISUALS' remarkable vocals and singular production style and process mark him out as special talent.
      div.artist-social
        p Elsewhere:<br/>
        div.social
          a(href="https://www.facebook.com/visualsvisualsvisuals", class="icon fb")
          a(href="https://soundcloud.com/visualsmusic" class="icon soundcloud")
        a.button.book-button(href="http://www.geist-agency.com/request_artist?utm_referrer=thesongsays") Book #{artist}
