extends jade/layouts/layout
prepend page
  - title= 'thesongsays'
block contents
  -
    var meta = {
      title: 'Meta Title'
    }
  section
    div(class="news-item")
      img(src="/imgs/BenoitAndSergio_cropped.jpg", class="full-width")
      div(class="overlay main")
        h2 Benoit &amp; Sergio
        p Old Streets
        button(class="button") Buy Now
    div(class="news-item")
      img(src="/imgs/bruno_loversdo.jpg", class="full-width")
      div(class="overlay main")
        h2 Bruno Pronsato
        p Lovers Do
        button(class="button") Buy Now
