extends jade/layouts/layout
prepend page
  - pageTitle= 'thesongsays'
block pagescripts
  script(src="js/home.js")
block contents
  div.video-container
    script(src="https://player.vimeo.com/api/player.js")
    iframe(id="vimeoplayer", class="video-vimeo", frameborder="0", src="https://player.vimeo.com/video/171632603?&title=0&color=323232&byline=0&portrait=0")
    div.grid.overflow 
      div.grid-cell-12
        div(class="overlay main video-overlay")
          h2 VISUALS - The State of Things (Video)
          div.video-meta
            p Director/Editor: Gabriel Gomez
            p DP: Benjamin Garst
            p Production Company: Crooked Letter Films
    div.video-vimeo-click-target
  a(href="/releases/the-state-of-things/", class="news-item")
    img(src="/imgs/visuals-homepage.jpg", class="full-width")
    div.grid.overflow 
      div.grid-cell-12
        div(class="overlay main")
          h2 VISUALS
          p The State of Things
          p Release date: Mar 25, 2016
  a(href="/releases/lovers-do-re-release/", class="news-item")
    img(src="/imgs/bruno_loversdo.jpg", class="full-width")
    div.grid.overflow 
      div.grid-cell-12
        div(class="overlay main")
          h2 Bruno Pronsato
          p Lovers Do
          p Vinyl Release date: Feb 26, 2016
