extends ../../jade/layouts/artists

prepend page
  - title= 'Public Lover | thesongsays'
  -artist= 'Public Lover'
block contents
  h1 Public Lover
  p.
    Public Lover is a deeper version of Ninca Leece and Bruno Pronsato. It's the inevitable result of two people making music for years. People who grew up on My Bloody Valentine, Roxy Music, and good-ol' techno and house. It's the sort of baby they have always wanted. It might be their golden child, or perhaps their golden squirrel?
  p.
    While both have had extensive musical careers, this one is a new step -- sort of.
  p.
    Ninca Leece released her debut album, There Is No One Else When I Lay Down And Dream, in January 2010 on Bureau B, a popular sub-label of Tapete Records. Her atmospheric and experimental productions and her watery and unique vocals have caught the attention of many critics in Europe. She has been performing for six years throughout Europe and Asia with an array of toys, visuals, computers, and her trusted Nord g4.
  p.
    Bruno Pronsato has released two full-length albums, 16-plus EPs, and countless remixes. His productions have been listed in Resident Advisor's top 100 albums of the decade. He has worked with acclaimed producers such as Thomas Melchior, Sammy Dee, Fumiya Tanaka, and Daze Maxim. Seasoned as a live performer as well, he has traveled around the world sharing his version of experimentalism and dance floor romanticism.
  p.
    Armed with sonic satin, they look forward to shocking you with their brilliance, charm, and utter deepness.
  p.
    Let's hold hands.
