doctype
block page
  html
    head
      link(rel="stylesheet", href="/css/styles.css")
      title= artistName
    body
      include ../includes/menu
      p using artist layout page
      block contents
      p More artists stuff
      p Addition
      include ../includes/footer
